
/* Resume Page Styles */
.resume-document {
  width: 100%; /* 100% of parent's width minus 40px */
  height: 100%; /* 100% of parent's height minus 60px */
  background: #fff;
  max-width: 1173px;
  border: 1.5px solid var(--light-purple);
  border-radius: 10px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

/* Resume page responsive styles */
@media (max-width: 1200px) {
  .resume-document {
    width: 100%;
    min-height: 950px;
    max-width: 1173px;
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .resume-document {
    padding: 1rem;
    min-height: 600px;
  }
}

@media (max-width: 480px) {
  .resume-document {
    width: 100%; /* 100% of parent's width minus 40px */
    height: 100%; /* 100% of parent's height minus 60px */
    padding: 0.5rem;
    min-height: 600px;
  }
}
